element.style {
  background-color: #ffd038;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.banner {
  min-height: 56vh;
  padding-bottom: 20px;
  background: #ffc70d;
  color: white;
  text-align: center;
  text-shadow: 1px 2px 3px rgb(0 0 0 / 50%);
}
*,
::after,
::before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}

.mt-5 {
  margin: 20px;
}

.detail ol li,
.detail ul li {
  text-align: left;
}

.detail *,
.detail :after,
.detail :before {
  box-sizing: inherit;
}
*,
::after,
::before {
  box-sizing: border-box;
}
li {
  display: list-item;
}
ol {
  list-style-type: decimal;
}

.detail {
  margin: 0;
  padding: 16px 18px;
  color: #333;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
}
